@import compass/css3
@import compass/reset
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600)

$sans-serif: 'Source Sans Pro', sans-serif

$background: #EFF3F7
$main-color: #414141

$button-color: #D1E1F4
$button-hover-color: #2D7DDC

$link: #2D7DDC

a, a:hover, a:visited
  color: $link
strong
  font-weight: bold
html, body
  font-family: $sans-serif
  font-size: 16px
  background: $background
  color: $main-color

.container
  margin: 0 auto
  width: 800px
  margin-top: 100px

  h1
    font-size: 32px
    margin-bottom: 5px

  span.city
    font-weight: 100

  img.userpic
    float: left
    margin-right: 17px
    margin-top: -5px

  .main_links
    margin: 10px 0

.left_s
  margin-left: 92px
  
  p.descr
    width: 230px
    font-size: 14px
    margin-top: 18px
    margin-bottom: 10px
    line-height: 18px
  .dribbble
    p.descr
      width: 210px
.blc
  margin-bottom: 25px
a.button
  width: 243px
  margin-left: -20px
  height: 34px
  display: block
  font-size: 14px
  border: 1px solid $background
  margin-bottom: 3px
  outline: none
  text-decoration: none
  background: $button-color url(button.png) no-repeat
  +transition(all .5s ease-out)
  span
    display: block
    margin-top: 10px
    margin-left: 33px
    color: inherit
  &:hover, &:focus
    background-color: $button-hover-color
  &.github
    color: $main-color
    background-color: #D4D8DD
    &:hover, &:focus
      background-color: $main-color
  &.dribbble
    color: #E93277
    background-color: #EDD9E8
    &:hover, &:focus
      background-color: #E93277
  &.soundcloud
    color: #E93277
    background-color: #EDD9E8
    &:hover, &:focus
      background-color: #E93277