@import compass/css3
@import compass/reset
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600)

=retina
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
    @content

=mobile
  @media only screen and (min-device-width : 320px)  and (max-device-width : 480px)
    @content

$sans-serif: 'Source Sans Pro', sans-serif

$background: #EFF3F7
$main-color: #414141

$button-color: #D1E1F4
$button-hover-color: #2D7DDC

$link: #2D7DDC

a, a:hover, a:visited
  color: $link
strong
  font-weight: bold
html, body
  font-family: $sans-serif
  font-size: 16px
  background: $background
  color: $main-color
  -webkit-tap-highlight-color: transparent
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.container
  margin: 0 auto
  width: 800px
  margin-top: 100px
  padding-bottom: 100px
  +mobile
    width: 400px

  h1
    font-size: 32px
    margin-bottom: 5px

  span.city
    font-weight: 100

  img.userpic
    float: left
    margin-right: 17px
    margin-top: -5px
    =mobile
      opacity: 0

  .main_links
    margin: 10px 0

.left_s
  margin-left: 92px
  
  p.descr
    width: 230px
    font-size: 14px
    margin-top: 18px
    margin-bottom: 10px
    line-height: 18px
  .dribbble
    p.descr
      width: 210px
.blc
  margin-bottom: 20px
a.button
  width: 243px
  margin-left: -20px
  height: 34px
  display: block
  font-size: 14px
  border: 1px solid $background
  margin-bottom: 3px
  outline: none
  text-decoration: none
  +box-shadow(0 0 0 3px $background )
  background: $button-color url(button.png) no-repeat
  +retina
    background-image: url(button@2x.png)
    background-size: 243px 34px
  +transition(all .5s ease-out)
  span
    display: block
    margin-top: 10px
    margin-left: 15px
    padding-left: 20px
    color: inherit
    background: url(icons.png) no-repeat
    +retina
      background-image: url(icons@2x.png)
      background-size: 19px 211px
  &:hover, &:focus
    background-color: $button-hover-color
  &.blog
    span
      background-position: 0 1px
  &.email
    span
      background-position: 1px -22px
  &.github
    color: $main-color
    background-color: #D4D8DD
    span
      background-position: 1px -49px
    &:hover, &:focus
      background-color: $main-color
  &.dribbble
    color: #E93277
    background-color: #EDD9E8
    span
      background-position: 0 -70px
    &:hover, &:focus
      background-color: #E93277
  &.soundcloud
    color: #FF7700
    span
      background-position: -3px -90px
    background-color: #F0DCD4
    &:hover, &:focus
      background-color: #FF7700
  &.twitter
    color: #0093C7
    background-color: #CAE4F1
    span
      background-position: 0 -109px
    &:hover, &:focus
      background-color: #0093C7
  &.instagram
    color: #7A461E
    background-color: #DCD8D8
    span
      background-position: 0 -128px
    &:hover, &:focus
      background-color: #7A461E
  &.lastfm
    color: #DE001E
    background-color: #EBCED7
    span
      background-position: 0 -148px
    &:hover, &:focus
      background-color: #DE001E
  &.tumblr
    color: #3373A9
    background-color: #D2DFEC
    span
      background-position: 0 -170px
    &:hover, &:focus
      background-color: #3373A9
  &.pinterest
    color: #C4001F
    background-color: #E7CED8
    span
      background-position: 0 -196px
    &:hover, &:focus
      background-color: #C4001F